USE [master]
GO
/****** Object:  Database [QuanLyThuCung]    Script Date: 27/09/2026 2:34:31 CH ******/
CREATE DATABASE [QuanLyThuCung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuCung', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyThuCung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuCung_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyThuCung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuCung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuCung]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 27/09/2026 2:34:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](30) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 27/09/2026 2:34:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](30) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[ChuyenMon] [nvarchar](100) NULL,
	[BangCap] [nvarchar](255) NULL,
	[NgayVaoLam] [date] NULL,
	[Anh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKham]    Script Date: 27/09/2026 2:34:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKham](
	[MaPhieuKham] [varchar](30) NOT NULL,
	[MaKhachHang] [varchar](30) NOT NULL,
	[MaThuCung] [varchar](30) NOT NULL,
	[MaNhanVien] [varchar](30) NOT NULL,
	[NgayKham] [datetime2](7) NOT NULL,
	[MoTaTrieuChung] [nvarchar](1000) NULL,
	[KetQuaKham] [nvarchar](1000) NULL,
	[BenhTinh] [nvarchar](500) NULL,
	[ThongTinThuoc] [nvarchar](1000) NULL,
	[MoTaSuDungDichVu] [nvarchar](1000) NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayLap] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 27/09/2026 2:34:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [varchar](30) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuCung]    Script Date: 27/09/2026 2:34:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuCung](
	[MaThuCung] [varchar](30) NOT NULL,
	[MaKhachHang] [varchar](30) NOT NULL,
	[TenThuCung] [nvarchar](100) NOT NULL,
	[LoaiThuCung] [nvarchar](50) NULL,
	[GiongThuCung] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[MauLong] [nvarchar](50) NULL,
	[CanNang] [decimal](5, 2) NULL,
	[Anh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 27/09/2026 2:34:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[MaThuoc] [varchar](30) NOT NULL,
	[TenThuoc] [nvarchar](100) NOT NULL,
	[DonViTinh] [nvarchar](30) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [GhiChu], [NgayTao]) VALUES (N'KH001', N'Nguyễn Văn An', CAST(N'2000-05-12' AS Date), N'Nam', N'0901000001', N'an@gmail.com', N'Hà Nội', N'Khách hàng quen', CAST(N'2026-09-27T14:26:01.7733333' AS DateTime2))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [GhiChu], [NgayTao]) VALUES (N'KH002', N'Nguyễn Thị Bình', CAST(N'1999-08-20' AS Date), N'Nữ', N'0901000002', N'binh@gmail.com', N'Hà Nội', NULL, CAST(N'2026-09-27T14:26:01.7733333' AS DateTime2))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [GhiChu], [NgayTao]) VALUES (N'KH003', N'Trần Văn Cường', CAST(N'1998-03-15' AS Date), N'Nam', N'0901000003', N'cuong@gmail.com', N'Hà Nội', NULL, CAST(N'2026-09-27T14:26:01.7733333' AS DateTime2))
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [ChuyenMon], [BangCap], [NgayVaoLam], [Anh], [MoTa]) VALUES (N'NV001', N'Nguyễn Văn Nam', CAST(N'1985-05-10' AS Date), N'Nam', N'0911000001', N'nam@gmail.com', N'Hà Nội', N'Nội khoa', N'Bác sĩ thú y', CAST(N'2015-03-01' AS Date), N'nv01.jpg', N'Có nhiều kinh nghiệm')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [ChuyenMon], [BangCap], [NgayVaoLam], [Anh], [MoTa]) VALUES (N'NV002', N'Trần Thị Hoa', CAST(N'1988-07-12' AS Date), N'Nữ', N'0911000002', N'hoa@gmail.com', N'Hà Nội', N'Ngoại khoa', N'Bác sĩ thú y', CAST(N'2016-05-10' AS Date), N'nv02.jpg', NULL)
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [ChuyenMon], [BangCap], [NgayVaoLam], [Anh], [MoTa]) VALUES (N'NV003', N'Lê Văn Thành', CAST(N'1983-02-20' AS Date), N'Nam', N'0911000003', N'thanh@gmail.com', N'Hà Nội', N'Da liễu', N'Bác sĩ thú y', CAST(N'2014-08-15' AS Date), N'nv03.jpg', NULL)
GO
INSERT [dbo].[PhieuKham] ([MaPhieuKham], [MaKhachHang], [MaThuCung], [MaNhanVien], [NgayKham], [MoTaTrieuChung], [KetQuaKham], [BenhTinh], [ThongTinThuoc], [MoTaSuDungDichVu], [SoTien], [NgayLap]) VALUES (N'PK001', N'KH001', N'TC001', N'NV001', CAST(N'2026-09-01T09:00:00.0000000' AS DateTime2), N'Bỏ ăn, ngứa vùng bụng', N'Phát hiện da vùng bụng bị đỏ', N'Viêm da', N'Thuốc trị viêm da', N'Khám tổng quát và kiểm tra da', CAST(150000.00 AS Decimal(18, 2)), CAST(N'2026-09-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[PhieuKham] ([MaPhieuKham], [MaKhachHang], [MaThuCung], [MaNhanVien], [NgayKham], [MoTaTrieuChung], [KetQuaKham], [BenhTinh], [ThongTinThuoc], [MoTaSuDungDichVu], [SoTien], [NgayLap]) VALUES (N'PK002', N'KH002', N'TC002', N'NV002', CAST(N'2026-09-02T10:00:00.0000000' AS DateTime2), N'Ho nhẹ, mệt mỏi', N'Có dấu hiệu viêm đường hô hấp', N'Viêm đường hô hấp', N'Amoxicillin', N'Khám và tư vấn điều trị', CAST(200000.00 AS Decimal(18, 2)), CAST(N'2026-09-02T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[PhieuKham] ([MaPhieuKham], [MaKhachHang], [MaThuCung], [MaNhanVien], [NgayKham], [MoTaTrieuChung], [KetQuaKham], [BenhTinh], [ThongTinThuoc], [MoTaSuDungDichVu], [SoTien], [NgayLap]) VALUES (N'PK003', N'KH003', N'TC003', N'NV003', CAST(N'2026-09-03T14:00:00.0000000' AS DateTime2), N'Ngứa tai, lắc đầu', N'Tai có nhiều ráy và hơi viêm', N'Viêm tai', N'Thuốc nhỏ tai', N'Khám tai và vệ sinh tai', CAST(180000.00 AS Decimal(18, 2)), CAST(N'2026-09-03T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [Email], [NgayTao]) VALUES (N'TK001', N'admin01', N'123456', N'camap0922@gmail.com', CAST(N'2026-09-27T14:25:32.6466667' AS DateTime2))
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [Email], [NgayTao]) VALUES (N'TK002', N'admin02', N'123456', N'camap0923@gmail.com', CAST(N'2026-09-27T14:25:32.6466667' AS DateTime2))
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [Email], [NgayTao]) VALUES (N'TK003', N'quanly01', N'123456', N'camap0924@gmail.com', CAST(N'2026-09-27T14:25:32.6466667' AS DateTime2))
GO
INSERT [dbo].[ThuCung] ([MaThuCung], [MaKhachHang], [TenThuCung], [LoaiThuCung], [GiongThuCung], [GioiTinh], [NgaySinh], [MauLong], [CanNang], [Anh], [MoTa], [NgayTao]) VALUES (N'TC001', N'KH001', N'Miu', N'Mèo', N'Anh lông ngắn', N'Cái', CAST(N'2022-03-15' AS Date), N'Xám', CAST(3.50 AS Decimal(5, 2)), N'miu.jpg', N'Hiền và thân thiện', CAST(N'2026-09-27T14:26:32.1500000' AS DateTime2))
INSERT [dbo].[ThuCung] ([MaThuCung], [MaKhachHang], [TenThuCung], [LoaiThuCung], [GiongThuCung], [GioiTinh], [NgaySinh], [MauLong], [CanNang], [Anh], [MoTa], [NgayTao]) VALUES (N'TC002', N'KH002', N'Lucky', N'Chó', N'Poodle', N'Đực', CAST(N'2021-06-10' AS Date), N'Nâu', CAST(6.20 AS Decimal(5, 2)), N'lucky.jpg', N'Năng động', CAST(N'2026-09-27T14:26:32.1500000' AS DateTime2))
INSERT [dbo].[ThuCung] ([MaThuCung], [MaKhachHang], [TenThuCung], [LoaiThuCung], [GiongThuCung], [GioiTinh], [NgaySinh], [MauLong], [CanNang], [Anh], [MoTa], [NgayTao]) VALUES (N'TC003', N'KH003', N'Milo', N'Mèo', N'Mèo ta', N'Đực', CAST(N'2023-01-20' AS Date), N'Vàng trắng', CAST(3.10 AS Decimal(5, 2)), N'milo.jpg', N'Hiền', CAST(N'2026-09-27T14:26:32.1500000' AS DateTime2))
GO
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [DonViTinh], [SoLuongTon], [Gia], [MoTa], [TrangThai]) VALUES (N'TH001', N'Paracetamol thú y', N'Viên', 100, CAST(5000.00 AS Decimal(18, 2)), N'Thuốc giảm đau hạ sốt', 1)
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [DonViTinh], [SoLuongTon], [Gia], [MoTa], [TrangThai]) VALUES (N'TH002', N'Amoxicillin', N'Viên', 80, CAST(7000.00 AS Decimal(18, 2)), N'Thuốc kháng sinh', 1)
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [DonViTinh], [SoLuongTon], [Gia], [MoTa], [TrangThai]) VALUES (N'TH003', N'Vitamin tổng hợp', N'Viên', 150, CAST(3000.00 AS Decimal(18, 2)), N'Bổ sung vitamin', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0C17C9384]    Script Date: 27/09/2026 2:34:32 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__A9D1053461A5B483]    Script Date: 27/09/2026 2:34:32 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhieuKham] ADD  DEFAULT (getdate()) FOR [NgayKham]
GO
ALTER TABLE [dbo].[PhieuKham] ADD  DEFAULT ((0)) FOR [SoTien]
GO
ALTER TABLE [dbo].[PhieuKham] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThuCung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((0)) FOR [Gia]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FK_PhieuKham_KhachHang]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FK_PhieuKham_NhanVien]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_ThuCung] FOREIGN KEY([MaThuCung])
REFERENCES [dbo].[ThuCung] ([MaThuCung])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FK_PhieuKham_ThuCung]
GO
ALTER TABLE [dbo].[ThuCung]  WITH CHECK ADD  CONSTRAINT [FK_ThuCung_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[ThuCung] CHECK CONSTRAINT [FK_ThuCung_KhachHang]
GO
USE [master]
GO
